<div>
  <nav class="navbar navbar-expand-sm bg-success navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"  routerLink="/add" routerLinkActive="active">Add Patient</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/patients" routerLinkActive="active">Patients List</a>
          </li>
    </ul>
  </nav>
  <div class="container">
    <hr>  
    <div class="card">
      <div class="card-body">
    <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
  </div>