<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Patient List</h2>
    </div>
    <div class="panel-body">
      <table  cellspacing="0" width="100%">

        <thead>
          <tr>
            <th>Name</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Suburb</th>
            <th>State</th>
            <th>Postcode</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>


          <td>1</td>
          <td>john</td>
          <td>18/05/22</td>
          <td>123 evergreen</td>
          <td>Townhall</td>
          <td>Suburb</td>
          <td>1244</td>
          <td>000</td>
          <td><button style='margin-right:16px'  class="btn btn-danger">Delete</button>
            <button style='margin-right:16px' class="btn btn-success" style="margin-left: 10px">Edit details</button>
          </td>

          <tbody>


            <td>1</td>
            <td>john</td>
            <td>18/05/22</td>
            <td>123 evergreen</td>
            <td>Townhall</td>
            <td>Suburb</td>
            <td>1244</td>
            <td>000</td>
            <td><button style='margin-right:16px'  class="btn btn-danger">Delete</button>
              <button style='margin-right:16px' class="btn btn-success" style="margin-left: 10px">Edit details</button>
            </td>

            <tbody>


                <td>1</td>
                <td>john</td>
                <td>18/05/22</td>
                <td>123 evergreen</td>
                <td>Townhall</td>
                <td>Suburb</td>
                <td>1244</td>
                <td>000</td>
                <td><button style='margin-right:16px'  class="btn btn-danger">Delete</button>
                  <button style='margin-right:16px' class="btn btn-success" style="margin-left: 10px">Edit details</button>
                </td>

                <tbody>


                    <td>1</td>
                    <td>john</td>
                    <td>18/05/22</td>
                    <td>123 evergreen</td>
                    <td>Townhall</td>
                    <td>Suburb</td>
                    <td>1244</td>
                    <td>000</td>
                    <td><button style='margin-right:16px'  class="btn btn-danger">Delete</button>
                      <button style='margin-right:16px' class="btn btn-success" style="margin-left: 10px">Edit details</button>
                    </td>

                    <tbody>


                        <td>1</td>
                        <td>john</td>
                        <td>18/05/22</td>
                        <td>123 evergreen</td>
                        <td>Townhall</td>
                        <td>Suburb</td>
                        <td>1244</td>
                        <td>000</td>
                        <td><button style='margin-right:16px'  class="btn btn-danger">Delete</button>
                          <button style='margin-right:16px' class="btn btn-success" style="margin-left: 10px">Edit details</button>
                        </td>

                        <tbody>


                            <td>1</td>
                            <td>john</td>
                            <td>18/05/22</td>
                            <td>123 evergreen</td>
                            <td>Townhall</td>
                            <td>Suburb</td>
                            <td>1244</td>
                            <td>000</td>
                            <td><button style='margin-right:16px'  class="btn btn-danger">Delete</button>
                              <button style='margin-right:16px' class="btn btn-success" style="margin-left: 10px">Edit details</button>
                            </td>
          
        
          
     
        
            
     
        
        </tbody>
      </table>
    </div>
  </div>
  



    
    